body.day {
    background-color:  #ffffff;
}

.chart-container svg text{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

.chart-slider {
    height: 20px;
    width: 100%;
    position: relative;
}

.animate-transform {
    transition: transform 0.3s linear;
}

.animate-opacity {
    transition: opacity 0.3s linear;
}

.animate-transform-opacity {
    transition: 0.3s linear;
    transition-property: transform, opacity;
}

.disbled-line {
    opacity: 0;
}

.chart-y-line {
    stroke: #f2f4f5;
    stroke-width: 1px;
    fill: none; 
}

.chart-x-line-text , .chart-y-line-text {
    font-family: sans-serif;
    font-size: 10px;
    fill: #96a2aa;   
}

.chart-x-line-text {
    /*text-anchor: middle;*/
    text-anchor: start;
}

/* .chart-y-line {
    transition: 0.3s linear;
    transition-property: transform, opacity, x, y, d;    
} */


.chart-range-selector {
    position: relative;
    touch-action: none;
}

.chart-range-selector .slider {
    position: absolute;
    height: 100%;
    top: 0;
    background-color: transparent;
    border-top: 1px solid #e0eaf0;
    border-bottom:  1px solid #e0eaf0;
    box-sizing: border-box;
    z-index: 2;
}

.chart-range-selector .left-gripper, .chart-range-selector .right-gripper {
    position: absolute;
    height: 100%;
    top: 0;
    background-color: #e0eaf0;
    width: 5px;
    cursor: w-resize;
    z-index: 3;
}

.chart-range-selector .left-curtain, .right-curtain {
    /*background-color: rgba(206, 227,240, .5);*/
    background-color: rgba(223, 234, 240, .5);
    position: absolute;
    height: 100%;
    top: 0;    
    z-index: 1;
}
.chart-range-selector .left-curtain {
    left: 0;
}
.chart-range-selector .right-curtain {
    right: 0;
}

.chart-toogle-buttons .button {
    color: #43484b;
    border-color: #e6ecf0;
    border-radius: 1000px;
    
    /* border: 0;
    border-radius: 0.25rem;
    background: #1E88E5;
    color: white;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    cursor: pointer;     */
}

.chart-toogle-buttons .button:focus {outline:0;}

.chart-toogle-buttons .button .toggled {
    color: red;
}