.chart-box {

}

.chart-slider {
    height: 20px;
    width: 100%;
    position: relative;
}

.animate-transform {
    /*animation: 1s;*/
    /*transition: transform 0.15s ease-out;*/
    transition: transform 0.15s linear;
}