.chart-box {

}

.chart-slider {
    height: 20px;
    width: 100%;
    position: relative;
}

.animate-transform {
    transition: transform 0.15s linear;
}

.animate-transform-opacity {
    transition: 0.15s linear;
    transition-property: transform, opacity, x, y, d;
}