.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 500px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 20px;
}

.hero-unit h1 {
  font-size: 20px;
  line-height: 1;
  letter-spacing: -1px;
}

.chart-container {
  margin: 20px auto 0 auto;
  width: 500px;
  /*height: 250px;*/
  background-color: white;
}
